/* Stolen from http://jsfiddle.net/AndreaLigios/jtLbpy62/ */

[tooltip]:before {
  /* needed - do not touch */
  content: attr(tooltip);
  position: absolute;
  opacity: 0;
  
  /* customizable */
  transition: all 0.35s ease;
  padding: 8px;
  color: #E2E2E2;
  border-radius: 6px;
  box-shadow: 2px 2px 1px silver;
  font-size: 16px;
}

[tooltip]:hover:before {
  /* needed - do not touch */
  opacity: 1;
  
  /* customizable */
  background: #1A1A18;
  margin-top: -50px;
  margin-left: 20px;    
}

[tooltip]:not([tooltip-persistent]):before {
  pointer-events: none;
}

