<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <p>Cool emoticon: <%= emote %></p>


    <button onclick="location.reload()">Do me a reload</button>
</body>

</html>